<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pesquisa de Livro</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1>Livraria João & CIA</h1>
  <hr>

  <form>
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" placeholder="Livro A" autocomplete="off">
    <input type="radio" name="pesquisa" value="titulo" checked>

    <label for="ano">Ano:</label>
    <input type="text" id="ano" placeholder="1983" autocomplete="off" disabled>
    <input type="radio" name="pesquisa" value="ano">
    <button type="submit">Pesquisar</button>
  </form>
  <hr>

  <% if (livros.length !== 0) {%>
    <table>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Titulo</th>
        <th scope="col">Autor</th>
        <th scope="col">Ano</th>
      </tr>
      <tbody>
        <% livros.forEach(livro => { %>
          <tr>
            <td><%= livro.id %></td>
            <td><%= livro.titulo %></td>
            <td><%= livro.autor %></td>
            <td><%= livro.ano %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <p>Livro não encontrado</p>
  <% } %>

  <script src="/js/script.js"></script>
</body>
</html>