* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
}

.template-container {
  display: none;
}

.alert-container {
  pointer-events: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  top: 1em;
  z-index: 5;
}

.alert {
  pointer-events: all;
  min-width: 0;
  max-width: 30em;
  width: 100%;
}