body {
  padding: 0 1em;
  font-family: Arial, Helvetica, sans-serif;
}
label {
  text-align: end;
}

form {
  display: grid;
  grid-template-columns: min-content 200px min-content;
  gap: 1em;
}

button {
  grid-column: 1 / span 2;
}

table {
  border-collapse: collapse
}

tr:has(th) {
  background-color: #cfcfcf;
}

tr:nth-child(even) {
  background-color: #efefef;
}

th, td {
  border-bottom: 1px solid #9f9f9f;
  padding: .5em 1em;
}