<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('../partials/head') %>
  <title>Página Inicial | Livraria</title>
</head>

<body>
  <%- include('../partials/navbar') %>

  <main class="py-3 px-4">
    <h2>Finja que tem algo daora aqui</h2>
  </main>
</body>
</html>