<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('../partials/head') %>
  <!-- <link rel="stylesheet" href="/css/.css"> -->
  <title>| Livraria</title>
</head>

<body>
  <div class="template-container">
    <%- include('../partials/alert') %>
  </div>

  <div class="alert-container"></div>

  <%- include('../partials/navbar') %>

  <main class="py-3 px-4">
    <h2>Finja que tem algo daora aqui</h2>
  </main>

  <!-- <script src="/js/.js"></script> -->
</body>
</html>